
body{
    background-color: aquamarine;
}
header{
    text-align: center;
}
button{
    background-color: aqua;
    border-radius: 4px;
    margin-top: 20px;
    padding: 4px;
}

#formulario{
    margin: 0 auto;
   width: 900px;   
}